{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	{% if modification %}
		Modifier :
		{{ magasin.titre }}
	{% else %}
		Ajouter une catégorie
	{% endif %}

{% endblock %}
{% block h1 %}
	{% if modification %}
		Modifier :
		{{ magasin.titre }}
	{% else %}
		Ajouter une magasin
	{% endif %}
{% endblock %}
{% block body %}
	<a class="btn btn-info m-3" href="{{ path('magasin_afficher')}}">Gestion des magasin</a>


	<div class="col-md-6 mx-auto">

		{{ form_start(formMagasin) }}

		{{ form_row(formMagasin).lienmap) }}
    {{ form_row(formMagasin).ville) }}


		<input type="submit" {% if modification %} value="Modifier" {% else %} value="Ajouter" {% endif %} class="btn btn-danger col-md-12 mt-3">


		{{ form_end(formMagasin) }}

	</div>

{% endblock %}
