{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Nouvelle OFFRE
{% endblock %}
{% block h1 %}Ajouter une Offre
{% endblock %}
{% block body %}


	<a href="{{ path('annonce_afficher') }}">Retour aux Offre</a>

	<div class="col-md-6 mx-auto">
		{{ form_start(formAnnonce1) }}

		{{ form_row(formAnnonce1.titre) }}
		{{ form_rest(formAnnonce1) }}
		<input type="submit" value="Ajouter" class="btn btn-danger col-md-12 mt-3">

		{{ form_end(formAnnonce1) }}


	</div>

{% endblock %}
